/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Variables CSS */
:root{
    --header-height: 3rem;

    /* Coolors */
    --first-color: #071E3D;
    --first-color-dark: #000000;
    --text-color: #1F4287;
    --first-color-light: #1F4287;
    --first-color-lighten: #fbf9f9;
    --first-color-lighten2:#adadad;
    --first-color-ratings: #13b5f0;

    /* Font and Typography */

    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .983rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weight */

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margins */

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    
    /* z index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
*,::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}
h1, h2, h3, ul, p{
    margin: 0;
}
h2, h3{
    font-weight: var(--font-semi-bold);
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* CLASS CSS */

.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title-light, .section-subtitle-light{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

.section-title-light{
    font-size: var(--h1-font-size);
    color: var(--first-color-lighten);
    margin-bottom: var(--mb-3);
}

.section-subtitle-light{
    display: block;
    color: var(--first-color-lighten2);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}


/* LAYOUT */
.bd-container{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
}
/* NAV */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
    }
}

.nav__item{
    margin-bottom: var(--mb-3);
}

.nav__link{
    color: var(--first-color-lighten);
    transition: .3s;
}

.nav__link:hover{
    color: var(--first-color-light);
}

.nav__logo, .nav__toggle{
    color: var(--first-color-lighten);
}

.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show Menu */
.show-menu{
    top: var(--header-height);
}


/* Active Menu */
.active-link{
    position: relative;
}

.active-link::after{
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}


/* Sign-Up and Log-In */

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten2);
    cursor: pointer;
}

.close-modal:hover {
    color: var(--first-color);
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content form {
    margin-top: 20px;
}

.modal-content input {
    margin-bottom: 10px;
}

.modal-content button {
    margin-top: 10px;
}

.modal-content .forgot-password,
.modal-content .signup-instead,
.modal-content .login-instead {
    margin-top: 20px;
    font-size: var(--normal-font-size);
    color: #007bff;
    cursor: pointer;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px; 
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    font-size: var(--normal-font-size);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.google-login i {
    margin-right: 5px;
  }

.google-login:hover {
    transform: scale(1.04);
}

.continue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px; 
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: var(--normal-font-size);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.continue-button:hover {
    transform: scale(1.04);
}

.divider{
    width: 100%;
    border-bottom: 1px solid var(--first-color-lighten2);
    margin: 10px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.login-form input[type="email"], 
.login-form input[type="password"]{
    border: 2px solid var(--first-color-lighten2);
    border-radius: 10px;
    padding: 10px;
    font-size: var(--normal-font-size);
    width: 300px;
}

.login-form input[type="email"]:focus, 
.login-form input[type="password"]:focus {
    outline: none;
    border-color: var(--first-color);
}

.account-text {
    display: block;
    font-size: var(--normal-font-size);
}

.signup-instead, 
.login-instead,
.forgot-password  {
    border: none;
    background: none;
    padding: 0;
    font-size: var(--normal-font-size);
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
  
.signup-form input[type="email"],
.signup-form input[type="name"],
.signup-form input[type="password"] {
    border: 2px solid var(--first-color-lighten2);
    border-radius: 10px;
    padding: 10px;
    font-size: var(--normal-font-size);
    width: 300px;
}

.signup-form input[type="email"]:focus,
.signup-form input[type="name"]:focus,
.signup-form input[type="password"]:focus {
    outline: none;
    border-color: var(--first-color);
}

/* HOME */
.home{
    overflow: hidden;
    background-image: url('HomePageBackground.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.home_backdrop-container{
    background-color: #000;
}
.home.show{
    opacity: 1;
}
.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  }
  
.home__container{
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}
.home__data{
    /* border-left: 4px solid var(--first-color-lighten); */
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
    text-align: center;
}
.home__name{
    font-size: var(--h1-font-size);
}

.home__greeting, .home__profession{
    display: block;
    font-weight: var(--font-bold);
}

.home__greeting{
    font-size: .813rem;
}

.home__profession{
    font-size: .938rem;
    margin-bottom: var(--mb-3);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%; /* Add this to set the height to 100% of the container */
    overflow: hidden; /* Add this to hide the gradient overflow */
    border-radius: 0 10px 10px 0; /* Add this to match the border radius of the container */
}
.home__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  }

.home__img img {
    width: 100%; /* Change this to 100% to make the image fill the container */
    height: auto; /* Add this to set the height to 100% of the container */
    object-fit: cover; /* Add this to fill the container without stretching the image */
    object-position: center right; /* Add this to align the image to the right */

}

/* Results Page */
.result{
    overflow: hidden;
    background-image: url('ResultsBackground.png');
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin-top: 2.9rem;
}
  
.result_backdrop-container {
    background-color: #000;
}
  
.result.show {
    opacity: 1;
}
  
.result::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
  
.result__container {
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start; 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 1rem; /* Gap between the columns */

}

.result__data {
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
    text-align: center;
}

.result__greeting,
.result__profession {
    display: block;
    font-weight: var(--font-bold);
}

.result__greeting {
    font-size: 0.813rem;
}

.result__profession {
    font-size: 0.938rem;
    margin-bottom: var(--mb-3);
}

.result__img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.result__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.result__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center right;
}

/* Ratings for results */
.ratings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;

}

.ratings__title {
    font-size: var(--h1-font-size);
    font-weight: bold;
    color: var(--first-color-lighten);
}

.ratings__subtitle{
    font-size: var(--normal-font-size);
    font-weight: bold;
    color: var(--first-color-lighten);
}

.ratings__stars {
    font-size: var(--h1-font-size);
    color: var(--first-color-ratings);
}

.ratings__difficulty {
    font-size: var(--normal-font-size);
    font-weight: bold;
    color: var(--first-color-lighten);
}

.star {
    /* Default star color */
    color: var(--first-color-lighten);
}

.graphDetails{
    /* Add CSS about the graph 'block' */
}

.graph {
    height: 2rem;
    background-color: var(--first-color-lighten);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0.5rem;
    position: relative;

}

.graph__bar {
    height: 100%;
    background-color: var(--first-color-ratings);
    transition: width 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.graph__label {
    margin-left: .75rem;
    position: relative;
    z-index: 1;
    font-size: var(--normal-font-size)
}


/* Card Styles */
.card {

}

/* Search Form */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .search-form input[type="text"] {
    border: 2px solid var(--first-color-lighten2);
    border-radius: 10px;
    padding: 10px;
    font-size: var(--normal-font-size);
    width: 300px;
  }
  
  .search-form input[type="text"]:focus {
    outline: none;
    border-color: var(--first-color);
  }
  .input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .input-group label {
    margin-bottom: 5px;
  }

.search-section {
    position: relative;
    align-items: flex-start;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

/* Buttons */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-dark);
}

.button-light{
    background-color: var(--first-color-light);
}

.button-link{
    background: none;
    color: var(--first-color);
    padding: 0;
}

.button-link:hover{
    background: none;
}

  
/* FOOTER */

.footer{
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__container{
    padding: 3rem 0;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-semi-bold);
}

.footer__description{
    margin-bottom: var(--mb-3);
}

.footer__social{
    margin-bottom: var(--mb-3);
}

.footer__link{
    font-size: 1.4rem;
    color: var(--first-color-lighten);
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer__link:hover{
    color: var(--first-color-light);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--first-color-lighten2);
}

.footer__scratch{
    font-size: var(--smaller-font-size);
    margin: var(--mb-3);
    color: var(--first-color-lighten2);
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px){
    .home__img img{
        width: 330px;
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 6rem;
    }

    .section-title{
        margin-bottom: var(--mb-5);
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle{
        display: none;
    }

    .home__container{
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }
    .home__greeting{
        font-size: 1.25rem;
    }

    .home__profession{
        font-size: 2rem;
    }

    .home__social{
        flex-direction: row;
        align-items: center;
    }
    .home__social-icon{
        margin-right: var(--mb-4);
        margin-bottom: 0;
    }
    .home__social-icon:hover:after {
        
        transition-delay: .25s;
    }

    .home__img img{
        width: 440px;
    }

    .about__description{
        text-align: initial;
    }

    .about__img{
        width: 330px;
    }

    .qualification__box{
        display: flex;
        justify-content: space-between;
    }

    .portfolio__container{
        grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (min-width: 1024px){

    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .qualification__container{
        column-gap: 6rem;
    }
}
